.main {
  overflow: hidden;
}
.header {
  height: var(--header-height);
  background-image: linear-gradient(-180deg, #f53d2d, #f63);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  padding-left: 0;
  margin: 8px 0 0 0;
  display: flex;
}
.header__navbar-item {
  list-style: none;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 8px;
  position: relative;
}
.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}
.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding-left: 0;
  top: 125%;
  right: 0;
  width: 160px;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  display: none;
}
.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: -13px;
  right: 0;
}
.header__navbar-user-menu::after {
  position: absolute;
  content: "";
  right: 25px;
  top: -24px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent white;
  cursor: pointer;
}
.header__navbar-user-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #646464;
  font-weight: 600;
  display: block;
  padding: 8px 0px 8px 15px;
}
.header__navbar-user-item a:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.header__navbar-user-item a:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header__navbar-user-item a:hover {
  background-color: #fafafa;
  color: #00bfa5;
}
.header__navbar-user-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.header__navbar-user-name {
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}
.header__navbar-item-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(238, 238, 238, 0.603);
  cursor: pointer;
}
.header__navbar-item--strong {
  font-weight: 700;
}
.header__navbar-item--separate::after {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(238, 238, 238, 0.603);
  height: 1.4rem;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: white;
  text-decoration: none;
}
.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 5px;
}
.header__navbar-item--no-click {
  cursor: text;
  color: white;
}
/* ! Header QR Code */
.header__qr {
  background-color: white;
  width: 230px;
  width: 181px;
  position: absolute;
  top: 125%;
  left: 0;
  padding: 4px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.15s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.header__qr::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 30px;
  top: -18px;
  left: 0;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
  z-index: 1;
}
.header__qr-img {
  max-width: 100%;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-download-img {
  height: 16.5px;
}
.header__qr-link:nth-child(1) {
  margin-left: 10px;
}
.header__qr-link:nth-child(2) {
  margin-right: 10px;
}
.header__notify {
  position: absolute;
  top: 125%;
  right: 0;
  width: 404px;
  background-color: white;
  border: 1px solid #eee;
  cursor: default;
  border-radius: 2px;
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifyGrowth ease-in 0.25s;
  display: none;
}
.header__notify::after {
  content: "";
  position: absolute;
  border: 20px solid;
  border-color: transparent transparent white transparent;
  top: -30px;
  right: 25px;
  cursor: pointer;
}
.header__notify::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  top: -20px;
  right: 0;
  cursor: pointer;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: rgb(255, 255, 255);
}
.header__notify-header h3 {
  color: #999;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0 0 0 12px;
  line-height: 40px;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item {
  display: flex;
}
.header__notify-item:hover {
  background-color: #f7f7f7;
}
.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.09);
}
.header__notify-link {
  min-width: 100%;
  display: flex;
  padding: 12px;
  text-decoration: none;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__notify-name {
  display: block;
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
}
.header__notify-desc {
  display: block;
  font-size: 1.4rem;
  color: #756f6e;
  margin-top: 4px;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: #999;
  margin: auto;
  padding: 6px 150px;
  font-weight: 600;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn ease-in 0.15s;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  z-index: 1;
  position: relative;
  animation: growth linear 0.15s;
}

.auth-form {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-top: 10px;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 600;
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}
.auth-form__input:focus {
  border-color: #777;
}
.auth-form__aside {
  margin-top: 18px;
}
.auth-form__policy-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}
.auth-form__control {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__control-back {
  margin-right: 8px;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: white;
}
.auth-form__socials--facebook .auth-form__socials-icon {
  color: white;
}
.auth-form__socials-title {
  margin: 0 36px;
}
.auth-form__socials--google {
  background-color: white;
  color: #666;
}
.auth-form__socials--google .auth-form__socials-icon {
  color: black;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #939393;
  font-weight: 600;
}
.auth-form__help-separate {
  display: block;
  border: 1px solid #eaeaea;
  height: 22px;
  margin: -1px 16px 0;
}
.auth-form__help-forgot {
  color: var(--primary-color);
}
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.header__mobile-search {
  display: none;
  padding: 0 12px;
}
.header__mobile-search-icon {
  font-size: 2.6rem;
  color: white;
}
.header__logo {
  width: 200px;
}
.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  line-height: 0;
}
.header__logo-img {
  width: 150px;
}
.header__search {
  background-color: white;
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.header__search-checkbox:checked ~ .header__search {
  display: flex;
}
.header__cart {
  width: 165px;
  text-align: center;
}
.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0px 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.header__cart-icon {
  color: white;
  font-size: 2.8rem;
}
.header__cart-list {
  position: absolute;
  content: "";
  top: 128%;
  right: 5px;
  background-color: white;
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  display: none;
  animation: fadeIn ease-in 0.15s;
  cursor: default;
  z-index: 1;
}
.header__cart-list::after {
  position: absolute;
  content: "";
  right: 0px;
  top: -24px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent white;
  cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list {
  display: block;
}
.header__cart-list--no-cart {
  padding-top: 44px;
}
.header__cart-list--no-cart .header__card-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__card-no-cart-img {
  width: 70%;
  object-fit: cover;
  display: none;
}
.header__cart-list-no-cart-title {
  display: none;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  margin-bottom: 20px;
}
.header__cart-number {
  position: absolute;
  background-color: white;
  padding: 0px 7px;
  color: var(--primary-color);
  font-size: 1.5rem;
  line-height: 1.8rem;
  border-radius: 20px;
  border: 2px solid #ee4d2d;
  font-weight: 600;
  text-align: center;
  top: -7px;
  right: -8px;
}
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  color: #929292;
  font-size: 1.6rem;
  padding: 0 16px;
  border-radius: 2px;
}
.header__search-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}
.header__search-select-label {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
}
.header__search-select-icon {
  font-size: 1.4rem;
  color: black;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}
.header__search-btn {
  background-color: #fb5533;
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}
.header__search-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}
.header__search-btn-icon {
  color: white;
  font-size: 1.4rem;
}
.header__search-option {
  position: absolute;
  right: 0;
  top: 120%;
  list-style: none;
  width: 128px;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  animation: fadeIn ease-in 0.15s;
  display: none;
  z-index: 1;
}
.header__search-option::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
}
.header__search-select:hover .header__search-option {
  display: block;
}
.header__search-option-item {
  background-color: white;
  padding: 8px 8px;
}
.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-option-item span {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
}
.header__search-option-item i {
  font-size: 1.4rem;
  color: #fb6445;
  margin: 0 4px 0 12px;
  display: none;
}
.header__search-option-item--active i {
  display: inline-block;
  z-index: 1;
}
.header__search-history {
  position: absolute;
  top: 105%;
  left: 0;
  width: calc(100% - 20px);
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  display: none;
  overflow: hidden;
  z-index: 1;
}
.header__search-input:focus ~ .header__search-history {
  display: block;
}
.header__search-history-heading {
  font-size: 1.4rem;
  color: #96a0a8;
  margin: 8px 12px;
  font-weight: 600;
}
.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-history-item {
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
}
.header__search-history-item a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #96a0a8;
  font-weight: 600;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 54vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  align-items: center;
}
.header__cart-item:hover {
  background-color: #f8f8f8;
}
.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #d9e6f0;
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.6rem;
  max-height: 3.2rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  font-size: 0.9rem;
  color: #757575;
  margin: 0 4px;
}
.header__cart-item-quantity {
  font-size: 1.3rem;
  color: #757575;
  font-weight: 600;
}
.header__cart-item-body {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.header__cart-item-desc {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 600;
}
.header__cart-item-remove {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 600;
}
.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
  background-color: #f05d41;
}
/* Header Sort Bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  height: var(--header-sort-bar-height);
  background-color: white;
  margin: 0;
  padding-left: 0;
  display: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.header__sort-item {
  list-style: none;
  flex: 1;
}
.header__sort-link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  color: #5a5a5a;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}
.header__sort-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}
.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::after {
  display: none;
}
/* App Container */
.app__container {
  background-color: #f5f5f5;
}
.app__content {
  padding-top: 36px;
}
.category {
  background-color: white;
}
.category__heading {
  color: #3e3e3e;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  margin-top: 0;
}
.category__heading-icon {
  margin-right: 4px;
}
.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 14px;
}
.category-item__link {
  color: #575757;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 8px 16px;
  display: block;
  font-weight: 600;
  /* border-top: 1px solid rgba(0,0,0,0.09); */
  position: relative;
}
.category-item--active .category-item__link {
  color: var(--primary-color);
  border-top: none;
}
.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link:hover {
  cursor: pointer;
}
/* ! Mobile Category */
.mobile-category {
  display: none;
}
.mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
  /* padding-bottom: 5%; */
}
.mobile-category__list::-webkit-scrollbar {
  display: none;
}
.mobile-category__item {
  flex-shrink: 0;
  margin-right: 10px;
}
.mobile-category__item:last-child {
  margin-right: -10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
  background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
  background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
  background-color: #88cf81;
}
.mobile-category__link {
  --line-height: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  text-align: center;
  width: 110px;
  padding: 0 8px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  user-select: none;
  -webkit-user-select: none;
}
/* ! home sort + filter */
.home-filter {
  background-color: #ededed;
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}
.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  font-weight: 600;
  margin-right: 16px;
}
.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}
.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-number {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--primary-color);
}
.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn {
  flex: 1;
  background-color: white;
  display: flex;
  text-decoration: none;
}
.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}
.home-filter__page-icon {
  margin: auto;
  font-size: 1.2rem;
  color: #555;
}
.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #999;
}

/* ! product item */
.home-product {
  margin-bottom: 10px;
}
.home-product-item {
  display: block;
  text-decoration: none;
  background-color: white;
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}
.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #5a5a5a;
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product-item__price {
  display: flex;

  flex-wrap: wrap;
}
.home-product-item__price-old {
  font-size: 1.4rem;
  font-weight: 600;
  color: #848484;
  text-decoration: line-through;
  margin-left: 10px;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-left: 10px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0;
}
.home-product-item__love--loved .home-product-item__love-icon-fill {
  display: inline-block;
}
.home-product-item__love--loved .home-product-item__love-icon-empty {
  display: none;
}
.home-product-item__love {
  font-size: 1.3rem;
}

i.home-product-item__love-icon-fill {
  display: none;
  color: #f63d30;
}

.home-product-item__rating {
  font-size: 0.8rem;
  color: #e1e1e1;
  margin-left: auto;
}
.home-product-item__star--gold {
  color: #ffce3d;
}
.home-product-item__sold {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 7px;
  color: black;
}
.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 0;
  font-size: 1.2rem;
  color: #595959;
  font-weight: 700;
}

.home-product-item__favourite {
  position: absolute;
  background-color: red;
  top: 10px;
  left: -4px;
  color: #f25220;
  background-color: currentColor;
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 1.7rem;
}
.home-product-item__favourite::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  filter: brightness(60%);
}
.home-product-item__favourite span {
  color: white;
}
.home-product-item__favourite i {
  font-size: 1rem;
  margin: 0 2px 0 4px;
  color: white;
}
.home-product-item__sale-off {
  position: absolute;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 212, 36, 0.9);
  top: 0;
  right: 0;
  text-align: center;
  border-top-right-radius: 2px;
}
.home-product-item__sale-off::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent
    rgba(255, 212, 36, 0.9);
}
.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-size: 1.4rem;
  font-weight: 600;
}
.home-product-item__sale-off-label {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
.home-product__pagination {
  margin: 45px 0 32px 0;
  padding-left: 0;
}
/* ! footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 14px;
}
.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #767676;
  margin-bottom: 0;
}
.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  color: #838383;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-top: 18px;
}
.footer-item__link:hover {
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.7rem;
  margin-right: 12px;
  margin-top: 0.9px;
  color: black;
}
.footer__download {
  display: flex;
  margin-top: 30px;
}
.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__download-app-img {
  height: 28px;
}
.footer__download-app-link {
  text-decoration: none;
  color: transparent;
}
.footer__bottom {
  background-color: #f5f5f5;
  padding: 10px 0;
  margin-top: 28px;
}
.footer__text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  color: #5a5a5a;
}
